{% extends 'sidenav.html' %}
{% block title %}Inventory Management{% endblock %}
{% block content %}
    <div class="mb-3">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inventory Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Raw Materials</li>
        </ol>
    </div>

    <div class="mb-3">

        <h4 class="mt-5">Raw Materials Inventory</h4>
        <div class="row">
            <div class="col-12">
                <table id="example" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Warehouse</th>
                        <th>Quantity on Hand</th>
                        <th>Last Updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in product_inventory %}
                        <tr>
                            <td>{{ item.product }}</td>
                            <td>{{ item.warehouse }}</td>
                            <td>{{ item.quantity_on_hand }}</td>
                            <td>{{ item.last_updated }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>


    </div>


{% endblock %}