{% extends 'sidenav.html' %}
{% block title %}Warehouse{% endblock %}
{% block content %}
    <div class="mb-3">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inventory Management</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'warehouse_management_view' %}">Warehouse Management</a> </li>
            <li class="breadcrumb-item active" aria-current="page">Update Warehouse</li>
        </ol>
    </div>

    <div class="mb-3">
        <h4 class="mt-3">Update Warehouse</h4>

        <form action="" method="post">
            {% csrf_token %}
            <div class="col-lg-3">
                {{ form.as_p }}
            </div>
            <button class="btn btn-outline-dark px-5" type="submit">Update Product</button>
        </form>


    </div>


{% endblock %}