{% extends 'sidenav.html' %}
{% block title %}Warehouse{% endblock %}
{% block content %}
    <div class="mb-3">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inventory Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Warehouse Management</li>
        </ol>
    </div>

    <div class="mb-3">
        <h4 class="mt-3">Add new Warehouse</h4>

        <form action="" method="post">
            {% csrf_token %}
            <div class="col-3">
                {{ form.as_p }}
            </div>
            <button class="btn btn-outline-dark px-5" type="submit">Save</button>
        </form>

        <h4 class="mt-5">Warehouse list</h4>
        <div class="row">
            <div class="col-12">
                <table id="example" class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Location</th>
                        <th scope="col">Warehouse Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for warehouse in warehouses %}
                        <tr>
                            <td>{{ warehouse.location }}</td>
                            <td>{{ warehouse.name }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="{% url 'warehouse_update' warehouse.warehouse_id %}" class="btn btn-sm btn-primary me-4">Update</a>
                                    <form method="post" action="{% url 'warehouse_delete' warehouse.warehouse_id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>


    </div>


{% endblock %}