{% extends 'sidenav.html' %}

{% block content %}
<div class="mb-3">
    <h4>Admin Dashboard</h4>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 d-flex">
      <div class="card flex-fill border-0 illustration">
        <div class="card-body p-0 d-flex flex-fill">
          <div class="row g-0 w-100">
            <div class="col-6">
              <div class="p-3 m-1">
                <h4>Welcome Back, Admin</h4>
                <p class="mb-0">Dashboard</p>
              </div>
            </div>
            <div class="col-6 align-self-end text-end"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex">
      <div class="card flex-fill border-0">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Table Element -->
  <div class="card border-0">
    <div class="card-header"></div>
    <div class="card-body"></div>
  </div>
{% endblock %}