{% load static %}

<!DOCTYPE html>
<html lang="en">
{#data-bs-theme="dark" should go insisde html#}
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}My Website{% endblock %}</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
    />
    <script
            src="https://kit.fontawesome.com/ae360af17e.js"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
</head>

<body>
<!-- ======== Main wrapper for dashboard =========== -->

<div class="wrapper">
    <!-- =========== Sidebar for admin dashboard =========== -->

    <aside id="sidebar" class="js-sidebar">
        <!-- ======== Content For Sidebar ========-->
        <div class="h-100">
            <div class="sidebar-logo">
                <a href="#">ERP System</a>
            </div>

            <!-- ======= Navigation links for sidebar ======== -->
            <ul class="sidebar-nav">
                {#            <li class="sidebar-header">Admin Elements</li>#}
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-list pe-2"></i>
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-item">
                    <a
                            href="#"
                            class="sidebar-link collapsed"
                            data-bs-target="#pages"
                            data-bs-toggle="collapse"
                            aria-expanded="false"
                    >
                        <i class="fa-solid fa-file-lines pe-2"></i>
                        Purchase Management
                    </a>
                    <ul
                            id="pages"
                            class="sidebar-dropdown list-unstyled collapse"
                            data-bs-parent="#sidebar"
                    >
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">View Purchase Orders</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Add new Purchase order</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Page 3</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a
                            href="#"
                            class="sidebar-link collapsed"
                            data-bs-target="#production"
                            data-bs-toggle="collapse"
                            aria-expanded="false"
                    >
                        <i class="fa-solid fa-file-lines pe-2"></i>
                        Producation Management
                    </a>
                    <ul
                            id="production"
                            class="sidebar-dropdown list-unstyled collapse"
                            data-bs-parent="#sidebar"
                    >
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Product Information</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Production order</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Post 3</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a
                            href="#"
                            class="sidebar-link collapsed"
                            data-bs-target="#Sales"
                            data-bs-toggle="collapse"
                            aria-expanded="false"
                    >
                        <i class="fa-solid fa-file-lines pe-2"></i>
                        Sales Management
                    </a>
                    <ul
                            id="Sales"
                            class="sidebar-dropdown list-unstyled collapse"
                            data-bs-parent="#sidebar"
                    >
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">View Sales orders</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Add new Sales order</a>
                        </li>
                    </ul>
                </li>
                {# Inventory Management #}
                <li class="sidebar-item">
                    <a
                            href="#"
                            class="sidebar-link collapsed"
                            data-bs-target="#Inventory"
                            data-bs-toggle="collapse"
                            aria-expanded="false"
                    >
                        <i class="fa-solid fa-file-lines pe-2"></i>
                        Inventory Management
                    </a>
                    <ul
                            id="Inventory"
                            class="sidebar-dropdown list-unstyled collapse"
                            data-bs-parent="#sidebar"
                    >
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Raw materials</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'warehouse_management_view' %}" class="sidebar-link">View Warehouses</a>
                        </li>
                    </ul>
                </li>


                {# CRM Management #}
                <li class="sidebar-item">
                    <a
                            href="#"
                            class="sidebar-link collapsed"
                            data-bs-target="#CRM"
                            data-bs-toggle="collapse"
                            aria-expanded="false"
                    >
                        <i class="fa-solid fa-file-lines pe-2"></i>
                        CRM
                    </a>
                    <ul
                            id="CRM"
                            class="sidebar-dropdown list-unstyled collapse"
                            data-bs-parent="#sidebar"
                    >
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">View customer details</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Add new Customer</a>
                        </li>
                    </ul>
                </li>

                {# Reporting and Analytics #}
                <li class="sidebar-item">
                    <a
                            href="#"
                            class="sidebar-link collapsed"
                            data-bs-target="#report"
                            data-bs-toggle="collapse"
                            aria-expanded="false"
                    >
                        <i class="fa-solid fa-file-lines pe-2"></i>
                        CRM
                    </a>
                    <ul
                            id="report"
                            class="sidebar-dropdown list-unstyled collapse"
                            data-bs-parent="#sidebar"
                    >
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">View customer details</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Add new Customer</a>
                        </li>
                    </ul>
                </li>
                {#            <li class="sidebar-header">Multi Level Menu</li>#}
            </ul>
        </div>
    </aside>

    <!-- ========= Main section of dashboard ======= -->

    <div class="main">
        <!-- ========= Main navbar section of dashboard ======= -->

        <nav class="navbar navbar-expand px-3 border-bottom">
            <button class="btn" id="sidebar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                            <img
                                    src="{% static 'account_icon.png' %}"
                                    class="avatar img-fluid rounded"
                                    alt=""
                            />
                        </a>

                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">Profile</a>
                            <a href="#" class="dropdown-item">Setting</a>
                            <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- ========= Main content section of dashboard ======= -->


        <main class="content px-3 py-2">
            <div class="container-fluid">
                {% block content %}

                {% endblock %}
            </div>
        </main>

        <!-- ========= light and dark mode toggle button ======= -->

        {#        <a href="#" class="theme-toggle">#}
        {#            <i class="fa-regular fa-moon"></i>#}
        {#            <i class="fa-regular fa-sun"></i>#}
        {#        </a>#}

        <!-- ========= footer section of dashboard ======= -->

        <footer class="footer"></footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
<script
        src="https://kit.fontawesome.com/f8e5997ee4.js"
        crossorigin="anonymous"
></script>
<script>
    // theme toggle

    {#document.querySelector(".theme-toggle").addEventListener("click", () => {#}
    {#    toggleLocalStorage();#}
    {#    toggleRootClass();#}
    {#})
        ;
        #}
        {##}
        {#function toggleRootClass() {#}
        {#    const current = document.documentElement.getAttribute("data-bs-theme");#}
        {#    const inverted = current === "dark" ? "light" : "dark";#}
        {#    document.documentElement.setAttribute("data-bs-theme", inverted);#}
        {#}#}
            {##}
            {#function toggleLocalStorage() {#}
            {#    if (isLight()) {#}
            {#        localStorage.removeItem("light");#}
            {#    } else {#}
            {#        localStorage.setItem("light", "set");#}
            {#    }#}
            {#}#}
                {##}
                {#function isLight() {#}
                {#    return localStorage.getItem("light");#}
                {#}#}
                    {##}
                    {#if (isLight()) {#}
                    {#    toggleRootClass();#}
                    {
    #}#}
</script>

<script>
    // Sidebar toggle
    const sidebarToggle = document.querySelector("#sidebar-toggle");
    sidebarToggle.addEventListener("click", function () {
        document.querySelector("#sidebar").classList.toggle("collapsed");
    });
</script>
</body>
</html>
