{% extends 'sidenav.html' %}
{% block title %}Production Management{% endblock %}
{% block content %}
    <div class="mb-3">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Production Management</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="#">View Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Product</li>
        </ol>
    </div>


    <div class="row">
        <form method="post" action="{% url 'create_production_order' %}">
            {% csrf_token %}

            <label for="product_id">Select Product:</label>
            <select name="product_id" required>
                {% for product in products %}
                    <option value="{{ product.product_id }}">{{ product.product_name }}</option>
                {% endfor %}
            </select>

            <label for="quantity">Quantity:</label>
            <input type="number" name="quantity" required>

            <label for="warehouse">Select Warehouse:</label>
            <select name="warehouse" required>
                {% for warehouse in warehouses %}
                    <option value="{{ warehouse.warehouse_id }}">{{ warehouse.name }}</option>
                {% endfor %}
            </select>

            <button type="submit">Create Production Order</button>
        </form>
    </div>



{% endblock %}