{% extends 'sidenav.html' %}
{% block title %}Products{% endblock %}
{% block content %}
    <div class="mb-3">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Production Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">View Products</li>
        </ol>
    </div>

    <div class="mb-3">
        <h2>Product list</h2>
        <table id="example" class="table table-striped">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity in Stock</th>
                <th>Raw Materials</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.unit_price }}</td>
                    <td>{{ product.quantity_in_stock }}</td>
                    <td>
                        {% for raw_material in product.raw_materials %}
                            {{ raw_material.raw_material.material_name }} ({{ raw_material.quantity_required }}),
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


{% endblock %}